server:
  port: 8085
spring:
  config:
    import: optional:file:.env[.properties]
#  application:
#    name: demo
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_EMAIL}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    redis:
      host: localhost
      port: 6379

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration-time: 900000
#  datasource:
#    url: jdbc:postgresql://localhost:5432/dbproduct
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: false
#    defer-datasource-initialization: true
#  sql:
#    init:
#      mode: never

api:
  product:
    base-url: https://fakestoreapi.com
  order:
    base-url:
  user:
    base-url: https://fakestoreapi.com